<h1>Lists</h1>

<ul id="to_do_list">
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New List", new_list_path, id: "new_link", remote: true %>
